
.container {background-color: #6a6d6ebb;font-family: 'Monserrat', sans-serif;color: rgb(73, 22, 6); text-align: center;}

footer{height: 80px;left: 0px;margin-bottom: 0px;border-radius: 4px;}

svg{color: rgb(73, 22, 6);}
svg:hover{transition:all 200ms ease-in-out; color:#6a6d6ebb;}

img{max-width: 800px;margin: 5px;}

@media (max-width: 500px) { p,h2,h1,h3,h4, p{text-align: center;font-size: smaller;}
}

